@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
  font-size:15px;
}

body {
  background: #F4F7FD;
  margin: 0;
  padding: 10px;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 680px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
  font-family: 'Rowdies', sans-serif;
  font-size: 1.5rem;
}

.move-count {
  color: #8b6af5;
  line-height:2.5rem;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
  border: 0;
  background-color: #8b6af5;
  font-family: 'Rowdies', sans-serif;
  font-size: 1.2rem;
  box-shadow: 5px 5px 10px 0 rgba(90, 116, 148, 0.3);
  margin-bottom: 1rem
}

.container {
  margin: 0 auto;
  width: 100%;
}

.card-wrapper {
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  display: inline-block;
  margin:  0.5rem;
  perspective: 1000px;
  transition: all 1s ease;
}  

.card-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card {
  background: #fff;
  color: #555;
  cursor: pointer;
  user-select: none; 
  position: absolute;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px 0 rgba(90, 116, 148, 0.3);
  svg {
    width: 100%;
    height:100%;
  }
}

.card-back {
  background: white;
  position:absolute;
  z-index: 1;
}

.card-front {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}

.is-matched {
  animation: scale 0.4s cubic-bezier(.86, 0, .07, 1);
  animation-delay: 1s;
}
.is-reset {
  animation: scaleBack 0.4s cubic-bezier(.86, 0, .07, 1);
}

.is-stacked {
  margin-bottom: -170px;
  margin-right: -160px;
}

$pastels:#cdcdff, #e7ccff, #fdccfb, #ffcbe7, #fdcdcb, #ffe7cd, #feffce, #e8fecd, #cefece, #cbffe8, #ccfffc, #cde7fe;

.dots {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  overflow: hidden;
  & > * {
    border-radius: 50px;
    position: absolute;
  }
  @for $i from 1 through (80) {
    $top: random(150)+px;
    $left: random(150)+px;
    $size: random(4)+2px;
    .dot:nth-of-type(#{$i}) {
      top: $top;
      left: $left;
      width: $size;
      height: $size;
      background-color:nth($pastels, random(length($pastels)));
    }
  }
}

#modal {
  position: fixed;
  background-color: rgba(#39395b, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transition: all 0.3s;
  display: none;
  align-items: center;
  justify-content: center;

  svg {
    width:80%
  }
  button {
    margin-bottom: 2rem;
    font-size:1.5rem;
  }
  &.show {
    display: flex;
    pointer-events: auto;
  }
  h1 {
    color: #453D84;
    margin: 0;
  }
  h2 {
    color: #5E5AAF;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom:3rem;
  }
}

.modal-box {
  background-color: #f9f8fe;
  box-shadow: 5px 5px 20px 0 rgba(#453D84, 0.3);
  border-radius: 10px;
  width:80%;
  max-width: 500px;
  text-align: center;
  padding: 2rem;
  animation: jitter 2.5s forwards ease-in;

}

@keyframes scale {
  0%, 100%   {transform: scale(1) rotateY(180deg);}
  50% {transform: scale(1.1) rotateY(180deg);}
}

@keyframes scaleBack {
  0%, 100%   {transform: scale(1)}
  50% {transform: scale(1.1)}
}


@keyframes jitter {
  0% {
    transform: scale(0)
  }
	10%,
	50% {
		transform: scale(1);
	}
	15% {
		transform: scale(0.9);
	}
	20% {
		transform: scale(1.1);
	}
	25% {
		transform: scale(1.1) rotate(-4deg);
	}
	30% {
		transform: scale(1.1) rotate(4deg);
	}
	35% {
		transform: scale(1.1) rotate(-3deg);
	}
	40% {
		transform: scale(1.1) rotate(3deg);
	}
	45% {
		transform: scale(1.1) rotate(0);
	}
}


@media only screen 
  and (max-device-width: 375px)  {  
    html {
      font-size:10px
    }
    .card-wrapper {
      width: 75px;
      height: 75px;
    }
    .dots {
      @for $i from 1 through (80) {
        $top: random(75)+px;
        $left: random(75)+px;
        $size: random(3)+1px;
        .dot:nth-of-type(#{$i}) {
          top: $top;
          left: $left;
          width: $size;
          height: $size;
        }
      }
  }
}



// dotted pattern
// .card-back {
  // background-image: 
  // radial-gradient(#8b6af5 6%, transparent 0%),
  // radial-gradient(#7bdff2 6%, transparent 0%),
  // radial-gradient(#42dfbc 6%, transparent 0%),
  // radial-gradient(#f9dd5b 6%, transparent 0%),
  // radial-gradient(#feac5e 6%, transparent 0%),
  // radial-gradient(#ff5d9e 6%, transparent 0%),
  // radial-gradient(#f29ff5 6%, transparent 0%),
  // radial-gradient(#c154d8 6%, transparent 0%),
  // radial-gradient(#00bbf9 6%, transparent 0%);
  // background-color: white;
  // background-position: 0 0px, 30px 0px, 60px 0px, 0px 30px, 0px 60px, 60px 30px, 60px 60px, 30px 60px, 30px 30px;
  // background-size: 90px 90px;
// }
